<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>First Web App</title>
   </head>
   <body>
      <header>
         <div class="container">
            <h1 class="logo">Welcome to my Website</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     <li><a href="/login">Login</a></li>
                     <li><a href="/math">Math</a></li>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
      {% block content %}
      {% endblock %}      <!--<p> hello there</p>-->
   </body>
</html>